@{
    ViewBag.Title = "Console";
}

<style>
.hidden
{
	display:none;
}
</style>

<h2>Console Log</h2>

<p>This shows a long running server process feeding back progress as steps</p>

<ul id="consoleList">
</ul>

@section ConsoleAsync{
<li transform-append="consoleList" transform-removeClass="hidden" class="hidden">@ViewBag.Message</li>
}

<div>Some example footer info</div>