@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Mare Minimum Example</title>
</head>
<body>
	<p>Be sure to include enough content before the RenderBodyAsync() call or IE will not render the page</p>
    @this.RenderBodyAsync()
</body>
</html>