@{
	ViewBag.Title = "AsyncSectionController";
}

<h2>AsyncSectionController</h2>

@section Task1Async{ @*Async sections must have the Async suffix*@
<p>@ViewBag.Message</p>
}

@section Task2Async{ @*Async sections must have the Async suffix*@
	<p>@ViewBag.Message2</p>
}